/* Header styling */
header {
    background-color: rgba(221, 240, 245, 0.841);
    padding: 1px;
    text-align: center;
}

/* H1 styling */
header h1 {
    font-weight: bold;
    font-size: 5cap;
}

#home,
#about,
#contact {
    cursor: pointer;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 2% ;
    /* Make cursor change to pointer on hover */
}

/* Hover effect */
#home:hover,
#about:hover,
#contact:hover {
    color: blue;
    /* Change text color to blue on hover */
}

/* Press effect */
#home:active,
#about:active,
#contact:active {
    color: red;
    /* Change text color to red when pressed */
}

html {
    scroll-behavior: smooth;
}


/* Image styling */
#logo {
    background-image: url('assets/images/car-accidents.webp');
    background-size: cover;
    height: 100px;
    /* Adjust the height as needed */
}

#hero-image {
    text-align: center;
    margin-top: 3%;

}

#about-us {
    text-align: center;
    /* Center the text */
    font-size: 42px;
    /* Make the text largest */
}

#contact-us {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

@media screen and (max-width: 768px) {
    #contact-us {
        text-align: left;
        /* Adjust alignment for smaller screens */
    }
}

#text {

    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;

}

form {

    /* Adjust width as needed */
    margin: 0 auto;
    /* Center the form horizontally */
    text-align: center;
}

/* Style radio buttons to display inline */
form p {
    margin-top margin-bottom: ;
}

form label {
    display: inline-block;
    width: 60px;
    /* Adjust width as needed */
}

form input[type="radio"] {
    display: inline-block;

}

form input[type="text"] {

    background-color: rgb(202, 243, 243);
    width: auto;
    padding: 10px;
    font-family: monospace;
    border: 10px;

}

#f-name {
    margin-right: 3%;
    margin-left: 3%;

}

#s-name {
    margin-right: 3%;
    margin-left: 3%;
}

#e-mail {

    margin-right: 3%;
    margin-left: 3%;
}

#reset{
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 5%;
}


#submit{
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 5%;
}





/* Style other inputs as a list */
e-form {
    margin-bottom: 10px;
    border: 10px;

    /* Adjust spacing between input groups */
}

#footer {
    background-color: rgba(204, 233, 241, 0.841);
    padding: 100px;

}